@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, green, grey);
    background-attachment: fixed;
    color: rgb(63, 55, 55);
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

h1#titulo{
    text-align: center;
    background-color: rgb(168, 95, 95);
}

.aprend{
    background-image: linear-gradient(to top, red, blue);
    text-align: center;
}

.basico{
    background-color: brown;
    text-align: right;
}

.inter{
    background-color: blueviolet;
    text-align: center;
}

.avan{
    background-color: chartreuse;
    text-align: left;
}